{% extends 'base.html'%}

{% block title %}
О нас
{% endblock %}

{% block header %}
<div class="gatt-container">
        <h1 class="gatt-title">GATTT</h1>
        <p class="gatt-description">
            GATTT – это стильный и современный магазин женской одежды, 
            где каждая деталь создана для подчеркивания вашей индивидуальности. Мы предлагаем трендовые образы, 
            комфортные повседневные вещи и элегантные варианты для особых моментов.
            В GATTT вы найдете идеальное сочетание моды, качества и уюта.
        </p>
        <p class="gatt-tagline">Ваш стиль. Ваша уверенность. Ваш GATTT.</p>
    </div>
{% endblock %}