<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="logo">GATTT</div>
        <div class="nav">
            <a href="/products" class="nav-link">Shop</a>
            <a href="/about" class="nav-link">About us</a>
        </div>
        </div>
        <div class="user-icons">
            <a href="/busket" class="icon-link">
                <img src="{{ url_for('static', filename='resourses/basket.png') }}" class="icon">
            </a>
            <a href="/profile" class="icon-link">
                <img src="{{ url_for('static', filename='resourses/profile.png') }}" class="icon">
            </a>
        </div>
    </header>

    <main>
        {% block header %}{% endblock %}
    </main>

    <footer class="footer">
        <span>ktoto2000@mail.ru</span>
        <span>Contacts</span>
        <span>+7 999 999-99-99</span>
    </footer>
</body>
</html>