USE [GATTT]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 06.06.2025 10:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address_Country] [nvarchar](100) NOT NULL,
	[Address_City] [nvarchar](100) NOT NULL,
	[Address_Street] [nvarchar](100) NOT NULL,
	[Address_Home] [nvarchar](50) NOT NULL,
	[Address_User] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Busket]    Script Date: 06.06.2025 10:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Busket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Busket_User] [int] NULL,
	[Busket_Product] [int] NULL,
	[Busket_Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 06.06.2025 10:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderItem_Id] [int] NULL,
	[OrderItem_Product] [int] NULL,
	[OrderItem_Quantity] [int] NULL,
	[OrderItem_Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06.06.2025 10:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_User] [int] NOT NULL,
	[Order_Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 06.06.2025 10:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Product_Name] [nvarchar](50) NOT NULL,
	[Product_Description] [nvarchar](max) NOT NULL,
	[Product_Price] [int] NOT NULL,
	[Product_Category] [int] NULL,
	[Product_Color] [nvarchar](50) NULL,
	[Product_Image] [nvarchar](100) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.06.2025 10:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Surname] [nvarchar](50) NOT NULL,
	[User_Name] [nvarchar](50) NOT NULL,
	[User_Patronymic] [nvarchar](50) NOT NULL,
	[User_Login] [nvarchar](50) NOT NULL,
	[User_Password] [nvarchar](50) NOT NULL,
	[User_Email] [nvarchar](50) NOT NULL,
	[User_AddressId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Id], [Address_Country], [Address_City], [Address_Street], [Address_Home], [Address_User]) VALUES (2, N'Россия', N'Москва', N'Маршала бирюзова', N'31', 2)
INSERT [dbo].[Address] ([Id], [Address_Country], [Address_City], [Address_Street], [Address_Home], [Address_User]) VALUES (2002, N'Россия', N'Москва', N'1-я Парковая', N'5', 2002)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Busket] ON 

INSERT [dbo].[Busket] ([Id], [Busket_User], [Busket_Product], [Busket_Quantity]) VALUES (3002, 1, 1, 1)
INSERT [dbo].[Busket] ([Id], [Busket_User], [Busket_Product], [Busket_Quantity]) VALUES (3003, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Busket] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [OrderItem_Id], [OrderItem_Product], [OrderItem_Quantity], [OrderItem_Price]) VALUES (1, 1, 2, 1, 916)
INSERT [dbo].[OrderItem] ([Id], [OrderItem_Id], [OrderItem_Product], [OrderItem_Quantity], [OrderItem_Price]) VALUES (2, 1, 3, 1, 1099)
INSERT [dbo].[OrderItem] ([Id], [OrderItem_Id], [OrderItem_Product], [OrderItem_Quantity], [OrderItem_Price]) VALUES (1002, 2, 5, 1, 1214)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Order_User], [Order_Date]) VALUES (1, 1, CAST(N'2025-05-26T06:47:30.153' AS DateTime))
INSERT [dbo].[Orders] ([Id], [Order_User], [Order_Date]) VALUES (2, 2002, CAST(N'2025-06-05T17:53:39.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [User_Surname], [User_Name], [User_Patronymic], [User_Login], [User_Password], [User_Email], [User_AddressId]) VALUES (1, N'Луценко', N'Никита', N'Романович', N'Nikita', N'qwerty', N'nikitalucenko2005@yandex.ru', NULL)
INSERT [dbo].[Users] ([Id], [User_Surname], [User_Name], [User_Patronymic], [User_Login], [User_Password], [User_Email], [User_AddressId]) VALUES (2, N'Узланер', N'Полина ', N'Александровна', N'Polina', N'polina123', N'yzlaner@2006gmail.com', NULL)
INSERT [dbo].[Users] ([Id], [User_Surname], [User_Name], [User_Patronymic], [User_Login], [User_Password], [User_Email], [User_AddressId]) VALUES (2002, N'Иванов', N'Иван', N'Иванович', N'Ivan', N'ivan', N'ivan@yandex.ru', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Busket] ADD  DEFAULT ((1)) FOR [Busket_Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[Busket]  WITH CHECK ADD FOREIGN KEY([Busket_Product])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Busket]  WITH CHECK ADD FOREIGN KEY([Busket_User])
REFERENCES [dbo].[Users] ([Id])
GO
